<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>keep.grass.iOS.keep.grassExtension</string>
	<key>CFBundleName</key>
	<string>keep.grass.iOS.keep.grassExtension</string>
	<key>CFBundleIdentifier</key>
	<string>net.trickpalace.keep-grass.watchkitapp.watchkitextension</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleShortVersionString</key>
	<string>2.00.004</string>
	<key>CFBundleVersion</key>
	<string>2.00.004</string>
	<key>MinimumOSVersion</key>
	<string>3.1</string>
	<key>CLKComplicationPrincipalClass</key>
	<string>ComplicationController</string>
	<key>CLKComplicationSupportedFamilies</key>
	<array>
		<string>CLKComplicationFamilyModularSmall</string>
		<string>CLKComplicationFamilyModularLarge</string>
		<string>CLKComplicationFamilyUtilitarianSmall</string>
		<string>CLKComplicationFamilyUtilitarianSmallFlat</string>
		<string>CLKComplicationFamilyUtilitarianLarge</string>
		<string>CLKComplicationFamilyCircularSmall</string>
		<string>CLKComplicationFamilyExtraLarge</string>
	</array>
	<key>CLKComplicationGroup</key>
	<string>Complication</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>WKAppBundleIdentifier</key>
			<string>net.trickpalace.keep-grass.watchkitapp</string>
		</dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.watchkit</string>
	</dict>
	<key>WKExtensionDelegateClassName</key>
	<string>ExtensionDelegate</string>
</dict>
</plist>
